.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/pexels-michael-tuszynski-2157404.jpg);
    background-size: cover;
    width: 100vw;
    height: 94vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}